.main {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
  .header {
    background-color: #f8f9fa;
  }
    
  .navbar-brand img {
    height: 50px;
  }

  .banner-form {
    background-color: #f8f9fa;
    padding: 60px;
  
  }

  .buttons {
    margin-bottom: 25px;
    display:flex;
    flex-direction:row;
    justify-content: right;
  }

  .btn-success {
    background-color: #f1ff6e;
    margin-right: 10px;
  }

  .btn-info {
    background-color: #2054ff;
  }


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
} 