.main {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  
  .header {
    background-color: #f8f9fa;
  }
    
  .navbar-brand img {
    height: 50px;
  }

  .banner-form {
    background-color: #f8f9fa;
    padding: 60px;
  
  }

  
  .btn-success {
    background-color: #f1ff6e;
  }

  .btn-info {
    background-color: #2054ff;
  }

  .table {
    height: 100%;
    position: relative;
  }

  .tbody {
    height: calc(100% - 40px); 
    display: block;
    overflow-y: auto;
  }
  
  .tfoot {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }